<div class="max-w-3xl mx-auto">
    <mat-list>
      @for (offre of this.offres(); track offre.identifiantFt; let last = $last) {
        <mat-list-item>
          <img ngSrc="job-search-item-icon.png"
               matListItemAvatar
               class="rounded-full" alt=""
              width="50"
              height="50"/>
          <span matListItemTitle>
            {{ offre.intituleOffre }}
          </span>
          <span matListItemLine>
            {{ offre.salaire ?? 'Salaire non précisé' }}
          </span>
          <div matListItemMeta>
            <div class="hidden sm:flex items-center gap-x-2">
              <p class="text-sm">
                {{ offre.lieuTravail }} {{ offre.codePostal ? '-' + offre.codePostal : '' }}
              </p>
            </div>
          </div>
        </mat-list-item>
        @if (!last) {
          <mat-divider />
        }
      }
    </mat-list>
</div>
